<mat-toolbar>
    Modelamiento Y Simulacion
</mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav mode="side" opened class="mat-elevation-z8">
            <button mat-button class="menu-button" routerLink="">
                <mat-icon>home</mat-icon>
                <span>Inicio</span>
            </button>
            <div class="spacer1"></div>
            <!-- SubMenu Unidad 1 -->
            <button mat-button [matMenuTriggerFor]="menu1" class="menu-button">
                <mat-icon>more_vert</mat-icon>
                <span>Unidad 1</span>
            </button>
            <mat-menu #menu1="matMenu">
                <button mat-menu-item  routerLink="/lecturadatos">
                    <mat-icon>description</mat-icon>
                    <span>Lectura Datos</span>
                </button>
            </mat-menu>
            <!-- . -->
            <div class="spacer2"></div>
            <!-- SubMenu Unidad 2 -->
            <button mat-button [matMenuTriggerFor]="menu2" class="menu-button">
                <mat-icon>more_vert</mat-icon>
                <span>Unidad 2</span>
            </button>
            <mat-menu #menu2="matMenu">
                <button mat-menu-item  routerLink="/lecturadatos">
                    <mat-icon>description</mat-icon>
                    <span>Lectura</span>
                </button>
            </mat-menu>
            <!-- . -->
            <div class="spacer2"></div>
            <!-- SubMenu Unidad 3 -->
            <button mat-button [matMenuTriggerFor]="menu3" class="menu-button">
                <mat-icon>more_vert</mat-icon>
                <span>Unidad 3</span>
            </button>
            <mat-menu #menu3="matMenu">
                <button mat-menu-item  routerLink="/lecturadatos">
                    <mat-icon>description</mat-icon>
                    <span>Lectura Datos</span>
                </button>
            </mat-menu>
            <!-- . -->
            <div class="spacer2"></div>
            <!-- SubMenu Unidad 4 -->
            <button mat-button [matMenuTriggerFor]="menu4" class="menu-button">
                <mat-icon>more_vert</mat-icon>
                <span>Unidad 4</span>
            </button>
            <mat-menu #menu4="matMenu">
                <button mat-menu-item  routerLink="/lecturadatos">
                    <mat-icon>description</mat-icon>
                    <span>Lectura Da</span>
                </button>
            </mat-menu>
            <!-- . -->
            <div class="spacer2"></div>
            <!-- SubMenu Unidad 5 -->
            <button mat-button [matMenuTriggerFor]="menu5" class="menu-button">
                <mat-icon>more_vert</mat-icon>
                <span>Unidad 5</span>
            </button>
            <mat-menu #menu5="matMenu">
                <button mat-menu-item  routerLink="/lecturadatos">
                    <mat-icon>description</mat-icon>
                    <span>Lectura D</span>
                </button>
            </mat-menu>
            <!-- . -->
            <mat-divider></mat-divider>
            <button mat-button class="menu-button">
                <mat-icon>info</mat-icon>
                <span>About</span>
            </button>
            <div class="spacer2"></div>
            <button mat-button class="menu-button">
                <mat-icon>help</mat-icon>
                <span>Help</span>
            </button>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content mat-elevation-z8">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>