<div class="titulo"><a>Suavizamiento de Datos</a></div>
<mat-card>
    <a class="description">La suavización exponencial utiliza un promedio ponderado de valores de series de tiempo
        pasadas como pronóstico; es un caso especial del método de promedios móviles ponderados
        en el cual seleccionamos sólo un peso, el peso para la observación más reciente. Los pesos
        para los demás valores se calculan de forma automática y se vuelven cada vez más pequeños
        a medida que las observaciones se alejan en el pasado.</a>
    <br>
    <a class="description">El siguiente programa utiliza un archivo .csv o .xlsx, se utilizan 2 columnas y un valor alfa
        para realizar los calculos.</a>
</mat-card>
<div class="datos">
    <form (ngSubmit)="onUpload()" [formGroup]="Form">
        <label>
            <span>Archivo Datos (.csv, .xlsx)</span>
            <br><br>
            <input class="hidden" type="file" #file accept=".csv, .xlsx" (change)="validar(file.files)"
                class="inputfile" required>
        </label>
        <br>
        <br>
        <label>
            <span>Columna Tiempo</span>
            <br><br>
            <select formControlName="columnatiempo" required>
                <option value="">Selecciona una opción</option>
                <option *ngFor="let opcion of opciones">
                    {{opcion}}
                </option>
            </select>
        </label>
        <br>
        <br>
        <label>
            <span>Columna Datos</span>
            <br><br>
            <select formControlName="columnadatos" required>
                <option value="">Selecciona una opción</option>
                <option *ngFor="let opcion of opciones">
                    {{opcion}}
                </option>
            </select>
        </label>
        <br>
        <br>
        <label>
            <span>Valor Alfa</span>
            <br><br>
            <input type="text" formControlName="alfa" required>
        </label>
        <br>
        <br>
        <button [disabled]="Form.invalid" type="submit" class="btn btn-success">Calcular</button>
    </form>
</div>
<br>
<ng-container class="tabla" *ngIf="llegaronDatos">
    <div class="titulo"><a>Datos analizados</a></div>
    <br />
    <br />
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>Index</th>
            <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>
        <!-- Name Column -->
        <ng-container [matColumnDef]=Form.value.columnatiempo>
            <th mat-header-cell *matHeaderCellDef>{{Form.value.columnatiempo}}</th>
            <td mat-cell *matCellDef="let element">{{ element[Form.value.columnatiempo] }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container [matColumnDef]=Form.value.columnadatos>
            <th mat-header-cell *matHeaderCellDef>{{Form.value.columnadatos}}</th>
            <td mat-cell *matCellDef="let element">{{ element[Form.value.columnadatos] }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="SN">
            <th mat-header-cell *matHeaderCellDef>SN</th>
            <td mat-cell *matCellDef="let element">{{ element.SN }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</ng-container>