.u-section-1 .u-sheet-1 {
    min-height: 832px;
  }
  
  .u-section-1 .u-list-1 {
    width: 503px;
    margin: 39px 30px 0 auto;
  }
  
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 725px;
    grid-gap: 0px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 0 21px;
  }
  
  .u-section-1 .u-text-1 {
    width: 362px;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 8px auto 0;
  }
  
  .u-section-1 .u-text-2 {
    font-weight: 700;
    font-size: 3rem;
    margin: -40px 377px 0 16px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 0 21px;
  }
  
  .u-section-1 .u-text-3 {
    width: 362px;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 8px auto 0;
  }
  
  .u-section-1 .u-text-4 {
    font-weight: 700;
    font-size: 3rem;
    margin: -40px 377px 0 16px;
  }
  
  .u-section-1 .u-list-item-3 {
    background-image: none;
  }
  
  .u-section-1 .u-container-layout-3 {
    padding: 0 21px;
  }
  
  .u-section-1 .u-text-5 {
    width: 362px;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 8px auto 0;
  }
  
  .u-section-1 .u-text-6 {
    font-weight: 700;
    font-size: 3rem;
    margin: -40px 377px 0 16px;
  }
  
  .u-section-1 .u-container-layout-4 {
    padding: 0 21px;
  }
  
  .u-section-1 .u-text-7 {
    width: 362px;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 8px auto 0;
  }
  
  .u-section-1 .u-text-8 {
    font-weight: 700;
    font-size: 3rem;
    margin: -40px 377px 0 16px;
  }
  
  .u-section-1 .u-container-layout-5 {
    padding: 0 21px;
  }
  
  .u-section-1 .u-text-9 {
    width: 362px;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 8px auto 0;
  }
  
  .u-section-1 .u-text-10 {
    font-weight: 700;
    font-size: 3rem;
    margin: -40px 377px 0 16px;
  }
  
  .u-section-1 .u-container-layout-6 {
    padding: 0 21px;
  }
  
  .u-section-1 .u-text-11 {
    width: 362px;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 8px auto 0;
  }
  
  .u-section-1 .u-text-12 {
    font-weight: 700;
    font-size: 3rem;
    margin: -40px 377px 0 16px;
  }
  
  .u-section-1 .u-container-layout-7 {
    padding: 0 21px;
  }
  
  .u-section-1 .u-text-13 {
    width: 362px;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 8px auto 0;
  }
  
  .u-section-1 .u-text-14 {
    font-weight: 700;
    font-size: 3rem;
    margin: -40px 377px 0 16px;
  }
  
  .u-section-1 .u-container-layout-8 {
    padding: 0 21px;
  }
  
  .u-section-1 .u-text-15 {
    width: 362px;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 8px auto 0;
  }
  
  .u-section-1 .u-text-16 {
    font-weight: 700;
    font-size: 3rem;
    margin: -40px 377px 0 16px;
  }
  
  .u-section-1 .u-container-layout-9 {
    padding: 0 21px;
  }
  
  .u-section-1 .u-text-17 {
    width: 362px;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 8px auto 0;
  }
  
  .u-section-1 .u-text-18 {
    font-weight: 700;
    font-size: 3rem;
    margin: -40px 377px 0 16px;
  }
  
  .u-section-1 .u-container-layout-10 {
    padding: 0 21px;
  }
  
  .u-section-1 .u-text-19 {
    width: 362px;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 8px auto 0;
  }
  
  .u-section-1 .u-text-20 {
    font-weight: 700;
    font-size: 3rem;
    margin: -40px 377px 0 16px;
  }
  
  .u-section-1 .u-group-1 {
    width: 493px;
    min-height: 609px;
    background-image: none;
    height: auto;
    margin: -652px auto 60px 39px;
  }
  
  .u-section-1 .u-container-layout-11 {
    padding: 30px 15px;
  }
  
  .u-section-1 .u-text-21 {
    font-size: 3rem;
    font-weight: 400;
    margin: 13px 16px 0;
  }
  
  .u-section-1 .u-text-22 {
    font-size: 1.5rem;
    margin: 50px auto 0;
  }
  
  .u-section-1 .u-text-23 {
    font-size: 1.125rem;
    margin: 13px auto 0 16px;
  }
  
  .u-section-1 .u-text-24 {
    font-size: 1.125rem;
    margin: 13px auto 0 16px;
  }
  
  .u-section-1 .u-text-25 {
    margin: 13px auto 0 16px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  
    .u-section-1 .u-text-2 {
      margin-top: -110px;
    }
  
    .u-section-1 .u-text-4 {
      margin-top: -110px;
    }
  
    .u-section-1 .u-text-6 {
      margin-top: -110px;
    }
  
    .u-section-1 .u-text-8 {
      margin-top: -110px;
    }
  
    .u-section-1 .u-text-10 {
      margin-top: -110px;
    }
  
    .u-section-1 .u-text-12 {
      margin-top: -110px;
    }
  
    .u-section-1 .u-text-14 {
      margin-top: -110px;
    }
  
    .u-section-1 .u-text-16 {
      margin-top: -110px;
    }
  
    .u-section-1 .u-text-17 {
      margin-top: 69px;
    }
  
    .u-section-1 .u-text-18 {
      margin-top: -110px;
    }
  
    .u-section-1 .u-text-19 {
      margin-top: 69px;
    }
  
    .u-section-1 .u-text-20 {
      margin-top: -110px;
    }
  
    .u-section-1 .u-group-1 {
      width: 386px;
      margin-top: -608px;
      height: auto;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1100px;
    }
  
    .u-section-1 .u-list-1 {
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-group-1 {
      margin-top: 18px;
      margin-bottom: 0;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-text-22 {
      margin-top: 29px;
    }
  
    .u-section-1 .u-text-23 {
      width: 475px;
      margin-top: 34px;
      margin-left: auto;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-7 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-8 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-9 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-10 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-11 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-container-layout-1 {
      padding-left: 0;
      padding-right: 0;
    }
  
    .u-section-1 .u-text-1 {
      width: auto;
      margin-top: 59px;
      margin-right: 12px;
      margin-left: 44px;
    }
  
    .u-section-1 .u-text-2 {
      font-size: 2.25rem;
      margin-top: -122px;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 0;
      padding-right: 0;
    }
  
    .u-section-1 .u-text-3 {
      width: auto;
      margin-top: 59px;
      margin-right: 12px;
      margin-left: 44px;
    }
  
    .u-section-1 .u-text-4 {
      font-size: 2.25rem;
      margin-top: -122px;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .u-section-1 .u-container-layout-3 {
      padding-left: 0;
      padding-right: 0;
    }
  
    .u-section-1 .u-text-5 {
      width: auto;
      margin-top: 59px;
      margin-right: 12px;
      margin-left: 44px;
    }
  
    .u-section-1 .u-text-6 {
      font-size: 2.25rem;
      margin-top: -122px;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .u-section-1 .u-container-layout-4 {
      padding-left: 0;
      padding-right: 0;
    }
  
    .u-section-1 .u-text-7 {
      width: auto;
      margin-top: 59px;
      margin-right: 12px;
      margin-left: 44px;
    }
  
    .u-section-1 .u-text-8 {
      font-size: 2.25rem;
      margin-top: -122px;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .u-section-1 .u-container-layout-5 {
      padding-left: 0;
      padding-right: 0;
    }
  
    .u-section-1 .u-text-9 {
      width: auto;
      margin-top: 59px;
      margin-right: 12px;
      margin-left: 44px;
    }
  
    .u-section-1 .u-text-10 {
      font-size: 2.25rem;
      margin-top: -122px;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .u-section-1 .u-container-layout-6 {
      padding-left: 0;
      padding-right: 0;
    }
  
    .u-section-1 .u-text-11 {
      width: auto;
      margin-top: 59px;
      margin-right: 12px;
      margin-left: 44px;
    }
  
    .u-section-1 .u-text-12 {
      font-size: 2.25rem;
      margin-top: -122px;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .u-section-1 .u-container-layout-7 {
      padding-left: 0;
      padding-right: 0;
    }
  
    .u-section-1 .u-text-13 {
      width: auto;
      margin-top: 59px;
      margin-right: 12px;
      margin-left: 44px;
    }
  
    .u-section-1 .u-text-14 {
      font-size: 2.25rem;
      margin-top: -122px;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .u-section-1 .u-container-layout-8 {
      padding-left: 0;
      padding-right: 0;
    }
  
    .u-section-1 .u-text-15 {
      width: auto;
      margin-top: 59px;
      margin-right: 12px;
      margin-left: 44px;
    }
  
    .u-section-1 .u-text-16 {
      font-size: 2.25rem;
      margin-top: -122px;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .u-section-1 .u-container-layout-9 {
      padding-left: 0;
      padding-right: 0;
    }
  
    .u-section-1 .u-text-17 {
      width: auto;
      margin-top: 59px;
      margin-right: 12px;
      margin-left: 44px;
    }
  
    .u-section-1 .u-text-18 {
      font-size: 2.25rem;
      margin-top: -122px;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .u-section-1 .u-container-layout-10 {
      padding-left: 0;
      padding-right: 0;
    }
  
    .u-section-1 .u-text-19 {
      width: auto;
      margin-top: 59px;
      margin-right: 12px;
      margin-left: 44px;
    }
  
    .u-section-1 .u-text-20 {
      font-size: 2.25rem;
      margin-top: -122px;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .u-section-1 .u-text-22 {
      margin-top: 82px;
    }
  
    .u-section-1 .u-text-23 {
      width: 320px;
      margin-top: -47px;
    }
  
    .u-section-1 .u-text-24 {
      margin-left: 0;
    }
  
    .u-section-1 .u-text-25 {
      margin-left: 0;
    }
  }