<body class="u-body">
    <section class="u-align-center u-clearfix u-section-1" id="carousel_dd14">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-container-style u-custom-item u-list-item u-repeater-item u-shape-rectangle">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <p class="u-align-center u-custom-item u-text u-text-palette-5-dark-1 u-text-1">Lectura de
                                Datos</p>
                            <h2 class="u-custom-item u-text u-text-2">1</h2>
                        </div>
                    </div>
                    <div class="u-container-style u-custom-item u-list-item u-repeater-item u-shape-rectangle">
                        <div class="u-container-layout u-similar-container u-container-layout-2">
                            <p class="u-align-center u-custom-item u-text u-text-grey-40 u-text-3">Media Mediana y Moda
                            </p>
                            <h2 class="u-custom-item u-text u-text-4">2</h2>
                        </div>
                    </div>
                    <div class="u-container-style u-list-item u-repeater-item u-white u-list-item-3">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                            <p class="u-align-center u-custom-item u-text u-text-grey-40 u-text-5">Cuadrados Medios</p>
                            <h2 class="u-custom-item u-text u-text-6">3</h2>
                        </div>
                    </div>
                    <div class="u-container-style u-custom-item u-list-item u-repeater-item u-shape-rectangle">
                        <div class="u-container-layout u-similar-container u-container-layout-4">
                            <p class="u-align-center u-custom-item u-text u-text-grey-40 u-text-7">Promedio Móvil</p>
                            <h2 class="u-custom-item u-text u-text-8">4</h2>
                        </div>
                    </div>
                    <div class="u-container-style u-custom-item u-list-item u-repeater-item u-shape-rectangle">
                        <div class="u-container-layout u-similar-container u-container-layout-5">
                            <p class="u-align-center u-custom-item u-text u-text-grey-40 u-text-9">Suavizamiento</p>
                            <h2 class="u-custom-item u-text u-text-10">5</h2>
                        </div>
                    </div>
                    <div class="u-container-style u-custom-item u-list-item u-repeater-item u-shape-rectangle">
                        <div class="u-container-layout u-similar-container u-container-layout-6">
                            <p class="u-align-center u-custom-item u-text u-text-grey-40 u-text-11">Regresión Lineal</p>
                            <h2 class="u-custom-item u-text u-text-12">6</h2>
                        </div>
                    </div>
                    <div class="u-container-style u-custom-item u-list-item u-repeater-item u-shape-rectangle">
                        <div class="u-container-layout u-similar-container u-container-layout-7">
                            <p class="u-align-center u-custom-item u-text u-text-grey-40 u-text-13">Regresión Cuadrática
                            </p>
                            <h2 class="u-custom-item u-text u-text-14">7</h2>
                        </div>
                    </div>
                    <div class="u-container-style u-custom-item u-list-item u-repeater-item u-shape-rectangle">
                        <div class="u-container-layout u-similar-container u-container-layout-8">
                            <p class="u-align-center u-custom-item u-text u-text-grey-40 u-text-15">Montecarlo</p>
                            <h2 class="u-custom-item u-text u-text-16">8</h2>
                        </div>
                    </div>
                    <div class="u-container-style u-custom-item u-list-item u-repeater-item u-shape-rectangle">
                        <div class="u-container-layout u-similar-container u-container-layout-9">
                            <p class="u-align-center u-custom-item u-text u-text-grey-40 u-text-17">Simulación de
                                Inventarios</p>
                            <h2 class="u-custom-item u-text u-text-18">9</h2>
                        </div>
                    </div>
                    <div class="u-container-style u-custom-item u-list-item u-repeater-item u-shape-rectangle">
                        <div class="u-container-layout u-similar-container u-container-layout-10">
                            <p class="u-align-center u-custom-item u-text u-text-grey-40 u-text-19">Lineas de Espera</p>
                            <h2 class="u-custom-item u-text u-text-20">10</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="u-align-center u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-grey-5 u-group u-shape-rectangle u-group-1">
                <div class="u-container-layout u-container-layout-11">
                    <h1 class="u-text u-text-default u-title u-text-21">Proyecto Modelamiento y Simulaciòn</h1>
                    <p class="u-text u-text-default-lg u-text-default-xl u-text-22"><b>Universidad Laica Eloy Alfaro de
                            Manabì</b>
                    </p>
                    <p class="u-text u-text-default-lg u-text-default-xl u-text-23">
                        <span style="font-weight: 700;">Estudiante:</span> Toala Ordoñez Leonardo Alexander<br>
                    </p>
                    <p class="u-text u-text-default-lg u-text-default-xl u-text-24">
                        <span style="font-weight: 700;">Curso: </span>6to​ A<br>
                    </p>
                    <p class="u-text u-text-default-lg u-text-default-xl u-text-25">
                        <span style="font-weight: 700;">Profesor: <span style="font-weight: 400;">Ing.&nbsp;</span>
                        </span>JORGE ANIBAL MOYA DELGADO&nbsp;<br>
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>